.header{
  background: #a3d9e9;
  background-image: url("/assets/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  text-align: center;
}
img{
  width: 35%;
  margin: 10px;
  border-radius: 15px;
}
.search{
  margin-top: 5%;
}
.menu_list{
  display: flex;
  flex-direction: row;
  margin-top: 6%;
}
.list-items{
  list-style-type: none;
    text-decoration: none;
    padding-left: 4%;
}
.list-link{
  text-decoration: none;
  font-size: 20px;
  color: #0b13b5;
}
.list-link:hover{
 color: red;
  border-radius: 20px;
  opacity: 0.5;
}
.icon-bi{
  margin-top: -5px;
}

.badge {
  border-radius: 20px;
  opacity: 0.7;
  z-index: 999;
  color: red;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  background-color: aliceblue;
}
