<app-header></app-header>
<div class="container-fluid">
  <div class="cart-container">
    <section class="cart-menu" *ngIf="carts.length != 0">
      <div class="cart-text">
        <h4>Cart Items</h4>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Qunatity</th>
            <th>Total Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of carts; let index = index">
            <td>{{ index + 1 }}</td>
            <td><img class="cart-img" src="{{ cart.imageUrl }}" alt="" /></td>
            <td>{{ cart.iname }}</td>
            <td>{{ cart.price }}</td>
            <td>
              <button class="btn btn-danger" (click)="inc(cart)">+</button> &nbsp;
              {{ cart.quantity }} &nbsp;
              <button class="btn btn-danger" (click)="dec(cart)">-</button>
            </td>
            <td>{{ cart.total * quantity }}</td>
            <td>
              <button class="btn btn-danger" (click)="remove(cart)">
                <i class="bi bi-trash"></i
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <td>
              <button class="btn btn-primary" routerLink="/home">
                Shop More
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="emptycart()">
                Empty Cart
              </button>
            </td>
            <td>
              <strong>Total Price {{ gTotal}} </strong>
            </td>
            <td>
              <button class="btn btn-success" routerLink="/payment">Buy</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <div class="row main-row">
          <div class="col-md-6 main-col">
            <div class="row item-row">
              <div class="col-md-6">
              <img [src]="cart.imageUrl" alt="Book Image">
            </div>
            <div class="col-md-6">
             <h3> {{cart.iname}}</h3>
             <h5> &#8377; {{cart.price}} &nbsp;
              &nbsp;
            <i class="bi bi-heart-fill" ng-style= "{'fill': clicked ==true ? 'red'; 'black'}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-heart-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
              </i>
            </h5>
             <p>{{cart.desc}} </p>
             <button class="btn btn-danger"> Buy Now</button>
            </div>
            </div>
          </div>
        </div> -->
    </section>
    <section *ngIf="carts.length == 0">
      <div class="cart-empty">
        <img
          class="cart-empt"
          src="assets/images/cart-empty.png"
          alt="cart-empty"
        />
        <h3>Your cart is Empty</h3>
        <button class="btn btn-primary" routerLink="/home">Shop Now</button>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>
