.header{
  background-image: url('/assets/images/headerbg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

 }
 .logo-part{
   text-align: center;
 }
 .logo{
   /* position: relative; */
   padding: 10px;
   opacity: 0.8;
   height: 90%;
   width: 35%;
   margin: 5px;
 }
 .menu{
 /* text-align: center; */
 margin-top:8%
 }
 .menu_list{
   list-style-type: none;
 }
 .list-items{
     display: inline;
     padding: 22px;
     margin-left: 10px;
     font-size: 23px;
     font-weight: 400;
     font-family: serif;
 }
 .list-link{
   text-decoration: none;
   color: white;
 }

