.header{
  background-image: url('/assets/images/headerbg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

 }
 .logo-part{
   text-align: center;
 }
 .logo{
   /* position: relative; */
   padding: 10px;
   opacity: 0.8;
   height: 90%;
   width: 35%;
   margin: 5px;
 }
 .menu{
 /* text-align: center; */
 margin-top:8%
 }
 .menu_list{
   list-style-type: none;
 }
 .list-items{
     display: inline;
     padding: 22px;
     margin-left: 10px;
     font-size: 23px;
     font-weight: 400;
     font-family: serif;
 }
 .list-link{
   text-decoration: none;
   color: white;
 }

.cart-img{
  height: 50px;
}
.table{
  border: 0.5px solid;
  text-align: center;
}
.cart-menu{
  margin:5% 5%
}
.cart-empt{
  width: 40%;
  margin: 5px;
}
.cart-empty{
  text-align: center;
}
.cart-container{
  margin: 5px;
}
.cart-text{
  text-align: center;
    color: #ff0000;
}