<div class="container-fluid">
  <div class="welcome">
    <div class="card login">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="input">
          <label for="username">User Name/E-mail</label>
          <input type="text" class="form-control" name="username" id="username" ngModel = "username" placeholder="Enter Your User Name or E-mail" required>
          <!-- <span *ngIf="loginForm.username.touched && !loginForm.username.invalid"> Pleas Enter User Name</span> -->
        </div>
        <div class="input">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter your Password" required>
          <!-- <span *ngIf="form.passowrd.touched && !form.password.invalid"> Enter your password</span> -->
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
      </form>
    </div>
  </div>
</div>
