<app-header></app-header>
<app-indicator></app-indicator>
<p>confirm works!</p>
<div class="card">
    <div class="row">
        <div class="col-md-6 mesg-card">
            <div class="messg">
                <h2>Your Order Has Been Received</h2>
            </div>
            <div class="right">
                <i class="bi bi-check-circle-fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                      </svg>
                </i>
            </div>
            <div class="messg2">
                <h4>Thank You For Your Purchases !!!</h4>
                <p> Your Order ID is: {{orderId}}</p>
                <p>You will receive an order confirmation on emial with your order details.</p>
            </div>
            <button class="btn btn-secondary" routerLink="/home">Continue Shopping</button>
        </div>        
        <div class="col-md-6">
            <div class="img">
                <img class="confirm-img" src="assets/images/confirm.jpg" alt="Order Confirm image"/>
            </div>
        </div>
    </div>
 
</div>

<app-footer></app-footer>
